<!DOCTYPE html>
<html>

<head>
    <title>Admin Index Page</title>
</head>

<body>
    <div>
        <h2>Welcome admin index
        </h2>
    </div>
    <a href="/home/admin/edit/<%= user.ausername %>">Update Profile</a>
    <div>
        Username:
        <%= user.ausername %>
            <br> Id:
            <%= user.aid %>
                <br> Password:
                <%= user.password %>
                    <br> Phone:
                    <%= user.aphone %>
                        <br> Name: <%= user.aname %>
    </div>
    <a href="/logout">Log Out</a>

</html>