<!DOCTYPE html>
<html>

<head>
    <title>Member Index Page</title>
</head>

<body>
    <div>
        <h2>Member index Page
        </h2>
    </div>
    <div>
        Username:
        <%= user.musername %>
            <br> Id:
            <%= user.mid %>
                <br> Password:
                <%= user.mpassword %>
                    <br> Phone:
                    <%= user.mphone %>
                        <br> Name: <%= user.mname %>
    </div>
    <a href="/logout">Log Out</a>

</html>